@define-color base-rp    #191724;
@define-color surface-rp #1F1D2E;
@define-color overlay-rp #26233A;
@define-color muted-rp   #6E6A86;
@define-color subtle-rp  #908CAA;
@define-color text-rp    #E0DEF4;
@define-color love-rp    #EB6f92;
@define-color gold-rp    #F6C177;
@define-color rose-rp    #EBBCBA;
@define-color pine-rp    #31748F;
@define-color foam-rp    #9CCFD8;
@define-color iris-rp    #C4A7E7;

* {
    font-family: '3270 Nerd Font SemCond', 'Liberation Mono', sans-serif;
    font-size: 18px;
    font-weight: 900;

    border: none;
    border-radius: 10px;
}

window#waybar {
    background-color: transparent; 
    min-height: 1.5rem;
}

#window, #idle_inhibitor, #pulseaudio, #backlight, #network, #cpu, #memory, #temperature, #battery, #tray, #clock {
    color: @text-rp;
    background-color: @surface-rp;

    margin-right: 0.5rem;
    margin-left: 0.5rem;

    padding-right: 1rem;
    padding-left: 1rem;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    min-width: 10rem;
}

#idle_inhibitor {
    background: @love-rp;
    padding-right: 1rem;
    min-width: 1rem;
}

#idle_inhibitor.activated {
    color: @base-rp;
    background-color: @foam-rp;
}


#keyboard-state label.locked {
    background-color: @foam-rp;
    color: @base-rp;
    
    margin-right: 0.5rem;
    margin-left: 0.5rem;

    padding-right: 1rem;
    padding-left: 1rem;
}

#workspaces {
    transition: ease-in-out;
    background-color: transparent;
}

#workspaces button {
    background: @surface-rp;
    color: @text-rp;

    min-width: 1.5rem;

    margin-right: 0.2rem;
    margin-left: 0.2rem;

    transition: ease-in-out;
    transition-duration: 0.5s;
}

#workspaces button:hover {
    color: @surface-rp;
    background: @gold-rp;
}

#workspaces button.active {
    color: @surface-rp;
    background-color: @iris-rp;
}

#workspaces button.active:hover {
    color: @base-rp;
}

#pulseaudio.muted {
    color: @love-rp;
}

#pulseaudio.bluetooth {
    color: @pine-rp;
}


#temperature.critical {
    color: @love-rp;
}

#battery.good {
    color: @pine-rp;
}

#battery.warning {
    color: @gold-rp;
}

#battery.critial {
    color: @love-rp;
}
