    layout {
        gaps 16 // Gap between windows
        center-focused-column "never" // Don’t auto-center focused column

        background-color "transparent" // <- needed for noctalia-shell to set wallpaper

        preset-column-widths {
            proportion 0.33333
            proportion 0.5
            proportion 0.66667
        }

        struts {}

        focus-ring {
          on
          width 3
          active-color "#f38d70"
          inactive-color "#5B5353"
          urgent-color "#fd6883"
        }

        shadow {
          on
          spread 5
        }
    }
