layout {
    swap_tiled_layout name="vertical" {
        tab max_panes=5 {
            pane split_direction="vertical" {
                pane
                pane {
                    children
                }
            }
        }
        tab max_panes=8 {
            pane split_direction="vertical" {
                pane {
                    children
                }
                pane {
                    pane
                    pane
                    pane
                    pane
                }
            }
        }
        tab max_panes=12 {
            pane split_direction="vertical" {
                pane {
                    children
                }
                pane {
                    pane
                    pane
                    pane
                    pane
                }
                pane {
                    pane
                    pane
                    pane
                    pane
                }
            }
        }
    }
    swap_tiled_layout name="horizontal" {
        tab max_panes=5 {
            pane
            pane
        }
        tab max_panes=8 {
            pane {
                pane split_direction="vertical" {
                    children
                }
                pane split_direction="vertical" {
                    pane
                    pane
                    pane
                    pane
                }
            }
        }
        tab max_panes=12 {
            pane {
                pane split_direction="vertical" {
                    children
                }
                pane split_direction="vertical" {
                    pane
                    pane
                    pane
                    pane
                }
                pane split_direction="vertical" {
                    pane
                    pane
                    pane
                    pane
                }
            }
        }
    }
    swap_tiled_layout name="stacked" {
        tab min_panes=5 {
            pane split_direction="vertical" {
                pane
                pane stacked=true {
                    children
                }
            }
        }
    }
    swap_floating_layout name="staggered" {
        floating_panes
    }
    swap_floating_layout name="enlarged" {
        floating_panes max_panes=10 {
            pane {
                x "5%"
                y 1
                width "90%"
                height "90%"
            }
            pane {
                x "5%"
                y 2
                width "90%"
                height "90%"
            }
            pane {
                x "5%"
                y 3
                width "90%"
                height "90%"
            }
            pane {
                x "5%"
                y 4
                width "90%"
                height "90%"
            }
            pane {
                x "5%"
                y 5
                width "90%"
                height "90%"
            }
            pane {
                x "5%"
                y 6
                width "90%"
                height "90%"
            }
            pane {
                x "5%"
                y 7
                width "90%"
                height "90%"
            }
            pane {
                x "5%"
                y 8
                width "90%"
                height "90%"
            }
            pane {
                x "5%"
                y 9
                width "90%"
                height "90%"
            }
            pane focus=true {
                x 10
                y 10
                width "90%"
                height "90%"
            }
        }
    }
    swap_floating_layout name="spread" {
        floating_panes max_panes=1 {
            pane {
                y "50%"
                x "50%"
            }
        }
        floating_panes max_panes=2 {
            pane {
                x "1%"
                y "25%"
                width "45%"
            }
            pane {
                x "50%"
                y "25%"
                width "45%"
            }
        }
        floating_panes max_panes=3 {
            pane focus=true {
                y "55%"
                width "45%"
                height "45%"
            }
            pane {
                x "1%"
                y "1%"
                width "45%"
            }
            pane {
                x "50%"
                y "1%"
                width "45%"
            }
        }
        floating_panes max_panes=4 {
            pane {
                x "1%"
                y "55%"
                width "45%"
                height "45%"
            }
            pane focus=true {
                x "50%"
                y "55%"
                width "45%"
                height "45%"
            }
            pane {
                x "1%"
                y "1%"
                width "45%"
                height "45%"
            }
            pane {
                x "50%"
                y "1%"
                width "45%"
                height "45%"
            }
        }
    }
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:/home/norestraint/dotfiles/zellij/plugins/zjstatus.wasm" {
                format_left "{mode}"
                format_center "#[bg=$bg] {tabs}"
                format_right "{swap_layout} #[bg=$bg,fg=$emp4] {session}"
                format_space "#[bg=$bg]"
                format_hide_on_overlength "false"
                format_precedence "crl"
                border_enabled "false"
                border_char "─"
                border_format "#[fg=$emp8]{char}"
                border_position "bottom"
                hide_frame_for_single_pane "true"
                color_accent "#f38d70"
                color_cursor "#c7c7c7"
                color_fg "#c2c2b0"
                color_bg "#222222"
                color_selection_foreground "#000000"
                color_selection_background "##e4c47a"
                color_emp0 "#222222"
                color_emp1 "#685742"
                color_emp2 "#5f875f"
                color_emp3 "#b36d43"
                color_emp4 "#78824b"
                color_emp5 "#bb7744"
                color_emp6 "#c9a554"
                color_emp7 "#d7c483"
                color_emp8 "#666666"
                color_emp9 "#685742"
                color_emp10 "#5f875f"
                color_emp11 "#b36d43"
                color_emp12 "#78824b"
                color_emp13 "#bb7744"
                color_emp14 "#c9a554"
                color_emp15 "#d7c483"
                // formatting for inactive tabs
                tab_normal "#[bg=$bg,fg=$emp8]#[bg=$emp8,fg=$bg]{index}#[bg=$bg,fg=$emp8]"
                // formatting for the current active tab
                tab_active "#[bg=$bg,fg=$emp6]#[bg=$emp6,fg=$bg,bold]{index}#[bg=$bg,fg=$emp6,bold]"
                // separator between the tabs
                tab_separator "#[bg=$bg] "
                // indicators
                mode_normal "#[bg=$bg,fg=$emp1]#[bg=$emp1,fg=$bg,bold]NORMAL#[bg=$bg,fg=$emp1]"
                mode_locked "#[bg=$bg,fg=$emp4]#[bg=emp4,fg=$bg,bold]LOCKED #[bg=$bg,fg=$emp4]"
                mode_resize "#[bg=$bg,fg=$emp3]#[bg=$emp3,fg=$bg,bold]RESIZE#[bg=$bg,fg=$emp3]"
                mode_pane "#[bg=$bg,fg=$emp3]#[bg=$emp3,fg=$bg,bold] PANE #[bg=$bg,fg=$emp3]"
                mode_tab "#[bg=$bg,fg=$emp3]#[bg=$emp3,fg=$bg,bold] TABS #[bg=$bg,fg=$emp3]"
                mode_scroll "#[bg=$bg,fg=$emp3]#[bg=$emp3,fg=$bg,bold]SCROLL#[bg=$bg,fg=$emp3]"
                mode_enter_search "#[bg=$bg,fg=$emp3]#[bg=$emp3,fg=$bg,bold]ENT-SEARCH#[bg=$bg,fg=$emp3]"
                mode_search "#[bg=$bg,fg=$emp3]#[bg=$emp3,fg=$bg,bold]SEARCHARCH#[bg=$bg,fg=$emp3]"
                mode_rename_tab "#[bg=$bg,fg=$emp3]#[bg=$emp3,fg=$bg,bold]RENAME-TAB#[bg=$bg,fg=$emp3]"
                mode_rename_pane "#[bg=$bg,fg=$emp3]#[bg=$emp3,fg=$bg,bold]RENAME-PANE#[bg=$bg,fg=$emp3]"
                mode_session "#[bg=$bg,fg=$emp3]#[bg=$emp3,fg=$bg,bold]SESSION#[bg=$bg,fg=$emp3]"
                mode_move "#[bg=$bg,fg=$emp2]#[bg=$emp2,fg=$bg,bold] MOVE #[bg=$bg,fg=$emp2]"
                mode_prompt "#[bg=$bg,fg=$emp3]#[bg=$emp3,fg=$bg,bold]PROMPT#[bg=$bg,fg=$emp3]"
                mode_tmux "#[bg=$bg,fg=$emp2]#[bg=$emp2,fg=$bg,bold]TMUX#[bg=$bg,fg=$emp2]"
                command_git_branch_command "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format "#[fg=blue] {stdout} "
                command_git_branch_interval "10"
                command_git_branch_rendermode "static"
                datetime "#[fg=$emp4,bold] {format} "
                datetime_format "%A, %d %b %Y %H:%M"
                datetime_timezone "America/Sao_Paulo"
            }
        }
        children
    }
}

